<div class ="container">
  <div class ="row">
    <div class ="col-sm-12">
      <h1>Editing Book</h1>
      <form>
        <%= form_with modele: @book do |f| %>
        <div class ="form-group">
          <label for=inputtitle>Title</label>
          <%= f.text_field :title, autofocus: true, id:"inputtitle" %>
        </div>
        <div class ="form-group">
          <label for=inputbody>Opinion</label>
          <%= f.text_area :body, autofocus: true, id:"inputbody" %>
        </div>
        <div class ="form-group">
          <%= f.submit "Update Book", class: "btn btn-secondary" %>
        </div>
        <% end %>
      </form>
      <%= link_to "show", book_path %> |
      <%= link_to "Back", books_path %
    </div>
  </div>
</div>