<div class ="container px-5 px-sm-0">
  <div class="row">
    <%= render 'sidebar', book: @books, user: @user%>
    <div class ="col-md-8">
      <h2>Book detail</h2>
      <table class ="table">
        <tr>
          <th>
            <%= image_tag @users.get_profile_image %> </br>
            <a href="/users/<%= @users.id %>"><%= @users.name %></a>
          </th>
          <th>
            <a href="/books/<%= @book %>"><%= @book.title %></a>
          </th>
          <th>
            <%= @book.body %>
          </th>
          <% if @users == current_user %>
          <th>
            <%= link_to "Edit", edit_book_path(@book), class: "btn btn-secondary" %>
          </th>
          <th>
              <%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-secondary" %>
          </th>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>