<div class ="container px-5 px-sm-0">

  <div class="row">
    <%= render 'sidebar', book: @books, user: @users%>
    <div class ="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class ="table">
        <tr>
          <th>
            <a href="/users/<%= @users.id %>"><%= image_tag @users.get_profile_image %> </a></br>
            <a href="/users/<%= @users.id %>"><%= @users.name %></a>
          </th>
          <th>
            <a href="/books/<%=@book.id%>"><%= @book.title %></a>
          </th>
          <th>
            <%= @book.body %>
          </th>
          <% if @users == current_user %>
          <th>
            <%= link_to "Edit", edit_book_path(@book), class: "btn btn-secondary" %>
          </th>
          <th>
              <%= link_to "Destroy", book_path(@book), method: :delete,"data-confirm" => "本当に削除しますか？", class: "btn btn-secondary" %>
          </th>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>